{% extends 'layout.html' %}


{% block content %}
    <section class="header">
        <h1>Luis</h1>
        <p>Cybersecurity and backend developer</p>
        <img src="/static/IMG_0823.jpg" alt="Headshot of myself">
    </section>
    <section id="about-page">
        <div id="triangle7"></div>
        <div id="triangle8"></div>
        <h2>Experience:</h2>
        <p>
            Cybersecurity enthusiast
        </p>
        <p>
            Backend server language enthusiast
        </p>
        <a href="/static/resume_IT.pdf"><i class="far fa-file"></i>Resume</a>
    </section>
{% endblock %}